@import 'colors';
@import 'mixins';

.footer {
  color: white;
  background-color: $footer-color;

  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerItem {
  width: 75%;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.title {
  @include nunito-bold;
}

.iconSet {
  display: flex;
  width: clamp(300px, 70%, 700px);
  justify-content: center;
  align-items: center;
}

.iconSet > * {
  margin-right: 1rem;
}

.iconSet > *:last-child {
  margin-right: 0;
}

.helpLinks {
  @include nunito-regular;
}

.helpLinks > a {
  display: block;
}
