@import 'colors';
@import 'mixins';

.hero {
  background-image: url('../assets/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 92vh;
  height: calc(100vh - 3.51rem);
}

.gradient {
  background: rgb(0, 119, 185);
  background: linear-gradient(
    0deg,
    rgba(0, 119, 185, 0.7857142857142857) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container {
  box-sizing: border-box;
  width: 428px;
  max-width: 100%;
  padding: 0 1.9rem;
}

.container:last-child {
  margin-bottom: 2rem;
}

.inputHero {
  @include raleway-semibold;
  width: 100%;
  padding: 1rem 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  margin-top: 1rem;
}

.inputHero::placeholder {
  color: white;
}

.actionButton {
  @include yellow-button;
  margin-top: 1rem;
}

.nextButton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.image {
  z-index: 1;
}
